<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="all">
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/socket.io.js"></script>
<script type="text/javascript">
$(function(){
	var socket = new io.Socket('localhost', {port: 3000});
	socket.connect();
	socket.on('message', function(message) {
		$('#statuses').prepend($(document.createElement('div')).addClass('status').text(message));
	});

	$('#go').click(function() {
		var s = $('#status').val().trim();
		if (s) {
			socket.send(s);
			$('#status').val('');
		}
	});
});
</script>

<title><%=title%></title>
</head>

<body>
<h1>node.js WebSocket Chat</h1>

<div id="status_form">
	<input type="text" size="50" name="status" id="status"/>
	<button id="go">送信</button>
</div>

<div id="statuses">
</div>
</body>
</html>
